In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from subprocess import check_output
import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv('stock.csv')
df.head()

         Date     Open     High      Low    Close    Volume  OpenInt Stock
0  1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030        0  AAPL
1  1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532        0  AAPL
2  1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199        0  AAPL
3  1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801        0  AAPL
4  1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062        0  AAPL

In [8]:
df.shape

(19586, 8)

In [9]:
list(df)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt', 'Stock']

In [ ]:
df.columns

In [ ]:
df.isnull().any()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.describe(include = "all").T

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
print(f'Dataframe comtains stock prices between {df.Date.min()} {df.Date.max()}')
print(f'Total days = {(df.Date.max() - df.Date.min()).days}days')

In [ ]:
len(df)-len(df.drop_duplicates())

In [ ]:
df["Change"] = df["Close"] - df["Open"]
df_interest = df[["Stock", "Date", "Open", "Close", "Change", "Volume"]]
df_interest["Date"] = pd.to_datetime(df_interest["Date"])
df_interest.head()

In [ ]:
symbolCloseWide = df.pivot(index='Stock', 
                                  columns='Date', 
                                  values='Close')
symbolCloseWide.head()

In [ ]:
symbols = df_interest["Stock"].unique().tolist()
for u in symbols[:10]:
    dates = df_interest[(df_interest["Stock"] == u)]["Date"]
    values = df_interest[(df_interest["Stock"] == u)]["Close"]
    plt.plot(dates.tolist(), values.tolist())
plt.legend(symbols, loc='upper left')
plt.show()

In [ ]:
df.corr()

In [ ]:
import seaborn as sns
plt.figure(figsize=(12,6))
autoDataColumns = ['Open','High','Low','Close','Volume']
sns.heatmap(df[autoDataColumns].corr(), annot=True, fmt='.6f', linewidths=.5)

In [ ]:
latest_year = max(pd.unique(list(df_interest["Date"].apply(lambda x:x.year))))
latest_year_mask = [i==latest_year for i in df_interest["Date"].apply(lambda x:x.year)]
df_masked1 = df_interest[latest_year_mask]
df_masked1.head()

In [ ]:
symbols = df_interest["Stock"].unique().tolist()
maxPerSymbol={}
for u in symbols:
    values = df_interest[(df_interest["Stock"] == u)]["Close"].tolist()
    maxPerSymbol[u] = max(values)

top10Closers = list(dict(sorted(maxPerSymbol.items(), 
                   key=lambda v:v[1], 
                   reverse=True)[:10]).keys())

top_10_mask = [i in top10Closers for i in df_masked1["Stock"].tolist()]
df_masked2 = df_masked1[top_10_mask]
df_masked2.head()

In [ ]:
symbols = df_masked2["Stock"].unique().tolist()
for u in symbols[:10]:
    dates = df_masked2[(df_interest["Stock"] == u)]["Date"]
    values = df_masked2[(df_interest["Stock"] == u)]["Close"]
    plt.plot(dates.tolist(), values.tolist())
plt.legend(symbols, bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)
plt.title(r'Top 10 Closing Stocks', fontsize=16)

plt.xlabel('Time (years)', fontsize=12)
plt.ylabel('Price ($/stock)', fontsize=12)
plt.show()