In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url='https://pythonhow.com/example.html'

In [16]:
headers={
    
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    
}

In [17]:
r = requests.get(url,headers = headers)

In [18]:
r.status_code  #for succes 200

200

In [19]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [20]:
text = r.text
text

'<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.cities {\n    background-color:black;\n    color:white;\n    margin:20px;\n    padding:20px;\n} \n</style>\n</head>\n<body>\n<h1 align="center"> Here are three big cities </h1>\n<div class="cities">\n<h2>London</h2>\n<p>London is the capital of England and it\'s been a British settlement since 2000 years ago. </p>\n</div>\n<div class="cities">\n<h2>Paris</h2>\n<p>Paris is the capital city of France. It was declared capital since 508.</p>\n</div>\n<div class="cities">\n<h2>Tokyo</h2>\n<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>\n</div>\n</body>\n</html>'

In [21]:
soup = BeautifulSoup(text,'html.parser')

In [22]:
soup

<!DOCTYPE html>

<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [23]:
type(soup)

bs4.BeautifulSoup

In [24]:
soup.find_all('h2')

In [27]:
soup.find_all('h2')[0].text

'London'

In [29]:
cities=[i.text for i in soup.find_all('h2')]
cities

['London', 'Paris', 'Tokyo']

In [25]:
soup.find_all('p')

[<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>,
 <p>Paris is the capital city of France. It was declared capital since 508.</p>,
 <p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>]

In [30]:
desc =[i.text for i in soup.find_all('p')]

In [31]:
desc

["London is the capital of England and it's been a British settlement since 2000 years ago. ",
 'Paris is the capital city of France. It was declared capital since 508.',
 'Tokyo is the capital of Japan and one of the most populated cities in the world.']

In [33]:
import pandas as pd

In [34]:
df=pd.DataFrame({'City':cities,'Description':desc})
df

     City                                        Description
0  London  London is the capital of England and it's been...
1   Paris  Paris is the capital city of France. It was de...
2   Tokyo  Tokyo is the capital of Japan and one of the m...